In [1]:
import piplite
await piplite.install('openpyxl')

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('adult.csv')
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [4]:
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [5]:
print(df['gender'].value_counts())

gender
Male      21790
Female    10771
Name: count, dtype: int64

In [6]:
df['gender'] = df['gender'].str.strip()

In [7]:
malecount= df[df['gender']=='Male'].shape[0]
print(malecount)

21790

In [8]:
df['native-country'] = df['native-country'].str.strip()

In [9]:
total_count= len(df)

In [10]:
germanCitizan=(df['native-country']=='Germany').mean()*100
print(round(germanCitizan, 2))

0.42

In [11]:
df['income']=df['income'].str.strip()

In [12]:
rich= df[df['income']== '>50K']
others = df[df['income']== '<=50K']


meanrich = rich['age'].mean()
stdrich = rich['age'].std()

meanothers = df['age'].mean()
std_others = others['age'].std()


print(round (meanrich, 2))
print(round (stdrich, 2))
print (round (meanothers, 2))
print(round(std_others,2))

44.25
10.52
38.58
14.02

In [13]:
print (df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [14]:
high_income_group=df[df['income']== '>50K']
regular_income= df[df['income']== '<=50K']

rich_age_mean = high_income_group['age'].mean()
rich_age_std = high_income_group['age'].std()

rgular_age_mean = regular_income['age'].mean()
regular_age_std = regular_income['age'].std()

print(f"Mean age of high income : {round(rich_age_mean, 2)}")
print(f"Age standard deviation of high income group: {round(rich_age_std, 2)}")

print("-" * 30) # یه خط تیره برای خوشگلی و جداسازی

print(f"Average age of regular income group: {round(rgular_age_mean, 2)}")
print(f"Age standard deviation of regular income group: {round(regular_age_std, 2)}")

Mean age of high income : 44.25
Age standard deviation of high income group: 10.52
------------------------------
Average age of regular income group: 36.78
Age standard deviation of regular income group: 14.02

In [15]:
print(high_income_group['education'].unique())

[' HS-grad' ' Masters' ' Bachelors' ' Some-college' ' Assoc-voc'
 ' Doctorate' ' Prof-school' ' Assoc-acdm' ' 7th-8th' ' 12th' ' 10th'
 ' 11th' ' 9th' ' 5th-6th' ' 1st-4th']

In [16]:
df.groupby(['race','gender'])['age'].describe()
max_age=df[(df['race'].str.strip()=='Amer-Indian-Eskimo')&(df['gender'].str.strip()=='Male')]['age'].max()
print(max_age)

82

In [17]:
max_ageee= df[(df['race'].str.strip()=='Amer-Indian-Eskimo')&(df['gender'].str.strip()=='Male')]['age'].max()
print(max_ageee)

82

In [18]:
df.groupby(['race' , 'gender']).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               gender
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                 ...  \
                             75%   max    count           mean  ...
race               gender                                       ...
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092  ...
                   Male    45.00  82.0    192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145  ...
                   Male    46.00  90.0    693.0  166175.865801  ...
Black              Female  46.00  90.0   1555.0  212971.387781  ...
                   Male    46.00  90.0   1569.0  242920.644997  ...
Other              Female  39.00  74.0    109.0  172519.642202  ...
                   Male    42.00  77.0    162.0  213679.104938  ...
White              Female  46.00  90.0   8642.0  183549.966906  ...
                   Male    49.00  90.0  19174.0  188987.386148  ...

                          capital-loss         hours-per-week             \
                                   75%     max          count       mean
race               gender
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084
                   Male            0.0  2824.0         1569.0  39.997451
Other              Female          0.0  1740.0          109.0  35.926606
                   Male            0.0  2179.0          162.0  41.851852
White              Female          0.0  4356.0         8642.0  36.296691
                   Male            0.0  3770.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               gender
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

In [19]:
max_age_man =df[(df['race'].str.strip()== 'Amer-Indian-Eskimo')&(df['gender'].str.strip()== 'Male')]['age'].max()
print(max_age_man)

82

In [20]:
df.groupby(df['marital-status']).describe()

                           age                                                \
                         count       mean        std   min   25%   50%   75%
marital-status
Divorced                4443.0  43.041639  10.400396  18.0  35.0  42.0  50.0
Married-AF-spouse         23.0  32.478261  11.610613  19.0  26.5  30.0  35.0
Married-civ-spouse     14976.0  43.247596  12.056002  17.0  34.0  42.0  51.0
Married-spouse-absent    418.0  40.578947  12.397677  18.0  31.0  40.0  48.0
Never-married          10683.0  28.150988  10.007241  17.0  21.0  25.0  32.0
Separated               1025.0  39.354146  10.835977  18.0  31.0  38.0  46.0
Widowed                  993.0  58.975831  12.345555  18.0  51.0  60.0  67.0

                              fnlwgt                 ... capital-loss          \
                        max    count           mean  ...          75%     max
marital-status                                       ...
Divorced               90.0   4443.0  185802.790457  ...          0.0  3900.0
Married-AF-spouse      75.0     23.0  188165.565217  ...          0.0     0.0
Married-civ-spouse     90.0  14976.0  186763.172877  ...          0.0  2603.0
Married-spouse-absent  80.0    418.0  193141.760766  ...          0.0  2472.0
Never-married          90.0  10683.0  195383.308996  ...          0.0  3683.0
Separated              90.0   1025.0  206444.325854  ...          0.0  3900.0
Widowed                90.0    993.0  174159.042296  ...          0.0  4356.0

                      hours-per-week                                         \
                               count       mean        std  min   25%   50%
marital-status
Divorced                      4443.0  41.246680  10.676632  1.0  40.0  40.0
Married-AF-spouse               23.0  41.130435  19.440596  3.0  39.0  40.0
Married-civ-spouse           14976.0  43.284856  11.905047  1.0  40.0  40.0
Married-spouse-absent          418.0  39.669856  11.767374  3.0  37.0  40.0
Never-married                10683.0  36.939998  12.432542  1.0  30.0  40.0
Separated                     1025.0  39.301463  10.377534  2.0  37.0  40.0
Widowed                        993.0  32.979859  14.058690  1.0  21.0  40.0


                        75%   max
marital-status
Divorced               45.0  99.0
Married-AF-spouse      47.0  90.0
Married-civ-spouse     50.0  99.0
Married-spouse-absent  40.0  99.0
Never-married          40.0  99.0
Separated              40.0  99.0
Widowed                40.0  99.0

[7 rows x 48 columns]

In [21]:
print(high_income_group['marital-status'])

7         Married-civ-spouse
8              Never-married
9         Married-civ-spouse
10        Married-civ-spouse
11        Married-civ-spouse
                ...
32539     Married-civ-spouse
32545     Married-civ-spouse
32554     Married-civ-spouse
32557     Married-civ-spouse
32560     Married-civ-spouse
Name: marital-status, Length: 7841, dtype: object

In [22]:
men=df[df['gender'].str.strip()== 'Male']

In [23]:
is_married = men['marital-status'].str.strip().str.startswith('Married')

In [24]:
married_men= men[is_married]
single_men=men[~is_married]

In [25]:
married_rich=(married_men['income'].str.strip()=='>50K').mean()

In [26]:
single_rich= (single_men['income'].str.strip()=='>50K').mean()

In [27]:
print(f"Married rich man :{round(married_rich, 2)}")
print(f"Single men rich {round(single_rich, 2)}")

Married rich man :0.44
Single men rich 0.08

In [28]:
max_hours=df['hours-per-week'].max()
print(max_hours)

99

In [29]:
max_worker = df[df['hours-per-week']== max_hours]
num_max_worker= len(max_worker)

In [46]:
rich_max_workers = max_worker[max_worker['income']=='>50K']
percentage = (len(rich_max_workers)/num_max_worker)*100
print(f"Max hours: {max_hours}")
print(f"Number of people: {num_max_worker}")
print(f"Percentage earning >50K: {percentage:.2f}%")

Max hours: 99
Number of people: 85
Percentage earning >50K: 29.41%

In [48]:
avg_time =df[df['income']== '>50K']['hours-per-week'].mean()
print(round(avg_time, 2))

45.47

In [53]:
country_state = df.groupby(['native-country', 'income'])['hours-per-week'].mean()
japan_state = country_state.loc['Japan']
print(japan_state)

income
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64

In [72]:
total_number =df.groupby('occupation')['hours-per-week'].sum()
print(total_number)

occupation
?                     58803
Adm-clerical         141595
Armed-Forces            366
Craft-repair         173405
Exec-managerial      182920
Farming-fishing       46708
Handlers-cleaners     51988
Machine-op-inspct     81593
Other-service        114342
Priv-house-serv        4900
Prof-specialty       175481
Protective-serv       27823
Sales                148851
Tech-support          36593
Transport-moving      71316
Name: hours-per-week, dtype: int64

In [74]:
df['income_num'] = (df['income'] == '>50K').astype(int)

In [81]:
occ_summary = df.groupby('occupation').agg({'hours-per-week': 'sum', 
    'income_num': 'mean'})
print(occ_summary)

                   hours-per-week  income_num
occupation
?                           58803    0.103635
Adm-clerical               141595    0.134483
Armed-Forces                  366    0.111111
Craft-repair               173405    0.226641
Exec-managerial            182920    0.484014
Farming-fishing             46708    0.115694
Handlers-cleaners           51988    0.062774
Machine-op-inspct           81593    0.124875
Other-service              114342    0.041578
Priv-house-serv              4900    0.006711
Prof-specialty             175481    0.449034
Protective-serv             27823    0.325116
Sales                      148851    0.269315
Tech-support                36593    0.304957
Transport-moving            71316    0.200376